<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="common/include :: header('养修服务列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="post-form">
					<div class="select-list">
						<ul>
							<li>
								客户姓名：<input type="text" name="customerName"/>
							</li>
							<li>
								联系方式：<input type="text" name="customerPhone"/>
							</li>
							<li>
								状态：
								<select name="status" th:with="type=${@dict.getType('cmi_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()">
	                <i class="fa fa-plus"></i> 新增
	            </a>
				<a class="btn btn-primary single disabled" onclick="$.operate.edit()">
		            <i class="fa fa-edit"></i> 修改
		        </a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()">
		            <i class="fa fa-remove"></i> 删除
		        </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="common/include :: footer" />
	<script th:inline="javascript">

		var cmiServiceTpyeDatas = [[${@dict.getType('cmi_service_type')}]];
		var statusDatas = [[${@dict.getType('cmi_status')}]];
		var prefix = ctx + "/business/appointment";
		$(function() {
		    var options = {
		        url: prefix + "/query",
		        createUrl: prefix + "/addPage",
		        updateUrl: prefix + "/editPage?id={id}",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
		        modalName: "修养服务",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'id',
		            title: '客户id',
					visible: false
		        },
		        {
		            field: 'customerName',
		            title: '客户姓名',
		            sortable: true
		        },
		        {
		            field: 'customerPhone',
		            title: '客户联系方式',
		            sortable: true
		        },
				{
		            field: 'appointmentTime',
		            title: '预约时间',
		            sortable: true
		        },
				{
		            field: 'actualArrivalTime',
		            title: '实际到店时间',
		            sortable: true,
		        },
				{
		            field: 'licensePlate',
		            title: '车牌号码',
		            sortable: true,
		        },
				{
		            field: 'carSeries',
		            title: '汽车类型',
		            sortable: true,
		        },
				{
					field: 'serviceType',
					title: '客服务类型',
					sortable: true,
					formatter: function(value, row, index) {
						return $.table.selectDictLabel(cmiServiceTpyeDatas, value);
					}
				},
				{
		            field: 'info',
		            title: '备注信息',
		            sortable: true,
					formatter: function(value, row, index) {
						return $.table.tooltip(value, 5, "open");
					}
		        },
				{
		            field: 'status',
		            title: '状态',
		            sortable: true,
					formatter: function(value, row, index) {
						return $.table.selectDictLabel(statusDatas, value);
					}
		        },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
		                let editClass = row.status == 0 ? "" : "disabled";
		                let arriveClass = row.status == 0 ? "" : "disabled";
		                let settlementClass = row.status == 1 || row.status == 4 ? "" : "disabled";
		                let cancelClass = row.status == 0 ? "" : "disabled";
		                let deleteClass = row.status == 0 ? "" : "disabled";

		                actions.push('<a class="btn btn-success '+ editClass +' btn-xs " href="javascript:void(0)" ' +
								'onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
						actions.push('<a class="btn btn-info '+ arriveClass +' btn-xs " href="javascript:void(0)" ' +
								'onclick="arriveShop(\'' + row.id + '\')"><i class="fa fa-edit"></i>到店</a> ');
						actions.push('<a class="btn btn-warning '+ settlementClass +' btn-xs " href="javascript:void(0)" ' +
								'onclick="generateStatement(\'' + row.id + '\')"><i class="fa fa-edit"></i>结算单</a> ');
                        var more = [];
                        more.push("<a class='btn btn-default btn-xs " + cancelClass + "' href='javascript:void(0)' onclick='cancel(" + row.id + ")'><i class='fa fa-key'></i>取消</a> ");
                        more.push("<a class='btn btn-default btn-xs " + deleteClass + "' href='javascript:void(0)' onclick='$.operate.remove(" + row.id + ")'><i class='fa fa-check-square-o'></i>删除</a>");
                        actions.push('<a tabindex="0" class="btn btn-info btn-xs" role="button" data-container="body" data-placement="left" data-toggle="popover" data-html="true" data-trigger="hover" data-content="' + more.join('') + '"><i class="fa fa-chevron-circle-right"></i>更多操作</a>');
                        return actions.join('');
		            }
		        }]
		    };
		    $.table.init(options);
		});
		function arriveShop(id) {
			$.modal.confirm("确定到店了吗?",function () {
				$.operate.get("/business/appointment/arriveShop?id=" + id);
			});
		}
		function generateStatement(id) {
			$.modal.confirm("确定要结算吗?",function () {
				$.operate.get("/business/appointment/generateStatement?id=" + id,function (data) {
					$.modal.openTab("明细详情页","/business/statementItem/itemDetail?statementId=" + data.data);
				});
			});
		}
		function cancel(id) {
			$.modal.confirm("确定要取消吗?",function () {
				$.operate.get("/business/appointment/cancel?id=" + id);
			});
		}
	</script>
</body>
</html>